// background-colors


$color-blue: #1DA1F2;
$color-black: #14171A;
$color-dark-gray: #657786;
$color-light-gray: #AAB8C2;
$color-extra-light-gray: #E1E8ED;
$color-extra-extra-light-gray: #F5F8FA;
$color-bg: #fff;
// $color-bg: #15202b;
$hr-color: #38444d;


$tweet-action-green: #17bf63;
$tweet-action-blue: #1da1f2;
$tweet-action-red: #e0245e;

$shadow-white: 0px 0px 1rem 0px rgba($color: $color-light-gray, $alpha: 0.3); 

$border-dark: 1px solid rgb(56, 68, 77); 